:where(.oooo) {
  p {
    margin: 0;
  }

  .ant-pagination {
    .ant-pagination-item {
      border-color: #e6cfaa;
    }

    .ant-pagination-item-active a {
      color: #fff;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      border-radius: 2px;
      border: solid 1px #e6cfaa;
    }

    .ant-pagination-total-text {
      color: #3a280f;
    }
  }
}
